body{
    text-align:center;
    background-image: url(https://wallpaperaccess.com/full/1894845.jpg);

    background-size: 110%;
    background-color: #FFBBE0;
    box-sizing: border-box;
}
@media (min-width: 728px) {
    body{
        background-size: auto;
    } 
}

#wrapper { margin: 0 auto;}

.thumb img {
    border-radius: 50%;
    width:40%;
}

.thumb{
    color:white;
}

#filmesFavoritos {
    margin: 10px;
}

.button {
    background-color:white; /* Green */
    margin: 5%;
    border: none;
    border-radius: 12px;
    color: pink ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    width:70%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    #header {width:100%; }

    #content {width:100%; }
    
    #sidebar {width:100%; }
    
    #footer {width:100%; }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    #wrapper {width:90%;  margin: 0 auto; }

    #content {width:70%; float:left; }

    #sidebar {width:30%; float:right; }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
    #wrapper {width:90%;  margin: 0 auto; }

    #content {width:70%; float:left; }

    #sidebar {width:30%; float:right; }

}


/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    #wrapper {width:90%;  margin: 0 auto; }
}

